@import-normalize; /* bring in normalize.css styles */

/* AlbertSans-Bold 700*/
@font-face {
    font-family: 'AlbertSans-Bold';
    src: url('./fonts/Albert_Sans/AlbertSans-Bold.ttf') format('truetype');
}
/* AlbertSans-ExtraBold 800*/
@font-face {
    font-family: 'AlbertSans-ExtraBold';
    src: url('./fonts/Albert_Sans/AlbertSans-ExtraBold.ttf') format('truetype');
}
/* AlbertSans-Medium 500*/
@font-face {
    font-family: 'AlbertSans-Medium';
    src: url('./fonts/Albert_Sans/AlbertSans-Medium.ttf') format('truetype');
}
/* AlbertSans-MediumItalic 500*/
@font-face {
    font-family: 'AlbertSans-MediumItalic';
    src: url('./fonts/Albert_Sans/AlbertSans-MediumItalic.ttf')
        format('truetype');
}
/* AlbertSans-Regular 400*/
@font-face {
    font-family: 'AlbertSans-Regular';
    src: url('./fonts/Albert_Sans/AlbertSans-Regular.ttf') format('truetype');
}
/* AlbertSans-SemiBold 600*/
@font-face {
    font-family: 'AlbertSans-SemiBold';
    src: url('./fonts/Albert_Sans/AlbertSans-SemiBold.ttf') format('truetype');
}
/* Niconne-Regular */
@font-face {
    font-family: 'Niconne-Regular';
    src: url('./fonts/Niconne/Niconne-Regular.ttf') format('truetype');
}
/* NunitoSans-Bold 700*/
@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('./fonts/Nunito_Sans/NunitoSans_10pt-Bold.ttf') format('truetype');
}
/*NunitoSans-Regular 400*/
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('./fonts/Nunito_Sans/NunitoSans_10pt-Regular.ttf')
        format('truetype');
}
/* NunitoSans-SemiBold 600*/
@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('./fonts/Nunito_Sans/NunitoSans_10pt-SemiBold.ttf')
        format('truetype');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    color: inherit;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 20rem;
}

html {
    scroll-behavior: smooth;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Стилі за замовчуванням */
body {
    /* font-family: 'Manrope SemiBold', sans-serif; */
    font-size: 0.875rem;
    line-height: 1.33;
    letter-spacing: 0.03rem;
    color: #111111;
    background-color: #1f002b;
}
